.right-section {
    height: 100vh;
    width: 100%;
    background-color: rgb(241, 241, 241);
    scrollbar-width: thin;
    scrollbar-color: grey white;
    overflow: scroll;
}
.user-chat-view{
    display : flex;
    flex-direction: column;
}
.other-chat {
    align-self: start;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 1px;
    border-radius: 4px;
    margin-left: 10px;
}
.self-chat {
    background-color: rgb(182, 253, 214);
    align-self: end;
    padding: 5px;
    border-radius: 4px;
    margin: 1px;
    margin-right: 10px;
}